<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- The Modal -->
    <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <p>Are you sure you want to delete this book?</p>
        <button class="btn delete-btn" (click)="onDeleteBook()">Yes</button>
        <button class="btn cancel-btn" (click)="onCloseModal()">No</button>
      </div>
    </div>
  </body>
</html>
